<!doctype html>

<html lang="en">

  <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>CST 205 Final project</title>
      {{ bootstrap.load_css() }}

      <link rel="stylesheet" href="static/styles/style.css">

  </head>
<body>
  <div class = "card">
    <h2 class = "text-center"> Create Account</h2>
    <form method = "POST" action = "/">
      <div class = "mb-4">
        {{ form.csrf_token }}
        {{form.userName.label}}
        <br>
        {{form.userName(size = 32)}}
        <br>
        {{ form.userPassword.label }} 
        <br>
        {{ form.userPassword(size=32) }}
      </div>
      <div class = "d-grid">
        <input type="submit" value="Submit" class="btn btn-success">
      </div>
    </form>
    <div>
      <p>Already have an account? 
        <a href="/">Log In</a>
    </p>
    </div>
</body>
</html>