<!-- Image Filter and Format Converter Web Application
 Class: CST 205
 Abstract: This is the layout file for the home page of the web application. This is the page user will see after logging in.
 Author: Jasmeen Hothi
 Date: 5/14/2025 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {{ bootstrap.load_css() }}
    
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand"><h1>Welcome, {{ current_user.id }}</h1></a>
          <ul class="nav nav-underline">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-dark" href="/edit"> Editor</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-dark" href="/profile"> Profile</a>
            </li>
            <li class="nav-item ">
              <a class="btn btn-primary" href = "/"> Log Out</a>
            </li>

            </ul>
          </div>
        </div>
    </nav>
    <div class="card text-center">
      <img src="/static/images/page.jpg" class="card-img" alt="home_page">
      <div class="card-img-overlay">
        <h1>Online Image Editor & Converter</h1>
        <h4>Upload an image:</h4>
        <div class="d-flex justify-content-center">
          <a href="/edit" class="btn btn-primary">Start Here</a>
      </div>
        <br>
        <div class = "d-flex justify-content-center">
        <div class="card-group w-60">
          <div class="card w-50">
            <div class="card-body">
              <h5 class="card-title">History</h5>
              <p class="card-text">Access your recent edit history</p>
            </div>
          </div>
          <div class = "card">
            <div class="card-body ">
              <h5 class="card-title">Edit</h5>
              <p class="card-text">Apply filters and convert image format</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Download</h5>
              <p class="card-text">Save your edited images instantly</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </div>
    </div>
</body>
</html>
