<!-- Image Filter and Format Converter Web Application
 Class: CST 205
 Abstract: This is the layout file for the profile page of the web application.
 Authors: Ciaran Moynihan, Jasmeen Hothi
 Date: 5/14/2025
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand"><h1>Hello, {{ current_user.id }}</h1></a>
          <ul class="nav nav-underline">
            <li class="nav-item">
              <a class="nav-link text-dark" href="/home">Home</a>
            </li>
            <li class="nav-item ">
              <li class="nav-item ">
                <a class="nav-link text-dark" href="/edit"> Editor</a>
              </li>
              <a class="nav-link active" aria-current="page" href="/profile"> Profile</a>
            </li>
              <li class="nav-item ">
                <a class="btn btn-primary" href = "/"> Log Out</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="card text-center">
      <h1> History</h1>
      <div class="container mt-4">
    {% if history %}
        <ul class="list-group">
            {% for entry in history %}
              <li class="list-group-item">
                  <strong>{{ entry.timestamp }}</strong>: {{ entry.action }}
                  {% if entry.filename %}
                      - <em>{{ entry.filename }}</em>
                  {% endif %}
              </li>
            {% endfor %}

        </ul>
    {% else %}
        <p>No history available.</p>
    {% endif %}
</div>

    </div>


</body>
</html>
