<!--
 Image Filter and Format Converter Web Application
 CST 205
 This is the layout file for the upload page of the web application.
 User can select one of the filters on this page.
 Ciaran, Jasmeen, Josue
 5/14/2025
-->


<!DOCTYPE html>

<html lang="en">

  <head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Editor</title>

      {{ bootstrap.load_css() }}
  </head>
  <body>
      <nav class="navbar navbar-expand-lg ">
          <div class="container-fluid">
            <a class="navbar-brand"><h1>Online Image Editor & Converter</h1></a>
            <ul class="nav nav-underline">
                <li class="nav-item ">
                    <a class="nav-link text-dark" href="/home"> Home</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/edit">Editor</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link text-dark" href="/profile"> Profile</a>
              </li>
                  <li class="nav-item ">
                    <a class="btn btn-primary" href = "/"> Log Out</a>
                  </li>
              </ul>
            </div>
          </div>
      </nav>

      <div class = "container mb-4"> 

          <div class="text-left">
              
              <hr>

              <h4>Upload an Image here:</h4>
              <br>

              <form method="POST" action ="/edit" enctype="multipart/form-data">
                <input type="file" name="file" class="form-control mb-3 w-100 " required />
        
                  <div> Please select an image filter </div>
                  <select class="form-select" name = "filter">
                  <option selected> None </option>
                  <option value="1">Sepia</option>
                  <option value="2">Negative</option>
                  <option value="3">Grayscale</option>
                </select>
                <br>

                <br>

                <input type="submit" value="Submit" class="btn btn-success">

              </form>

           

          </div>

      </div>

  </body>

</html>